<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <strong>Control de leds </strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-sm="12" size-md="6" size-lg="4">
        <ion-button (click)="toggleState()" [color]="ledstatus ? 'primary' : 'secondary'" expand="full" shape="round">
          <ion-icon name="{{ ledstatus ? 'power' : 'power-outline' }}" slot="start"></ion-icon>
          {{ ledstatus ? 'Encendido' : 'Apagado' }}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size-sm="12" size-md="6" size-lg="4">
        <ion-button (click)="toggleState2()" [color]="ledstatus2 ? 'primary' : 'secondary'" expand="full" shape="round">
          <ion-icon name="{{ ledstatus2 ? 'power' : 'power-outline' }}" slot="start"></ion-icon>
          {{ ledstatus2 ? 'Encendido' : 'Apagado' }}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size-sm="12" size-md="6" size-lg="4">
        <ion-button (click)="toggleState3()" [color]="ledstatus3 ? 'primary' : 'secondary'" expand="full" shape="round">
          <ion-icon name="{{ ledstatus3 ? 'power' : 'power-outline' }}" slot="start"></ion-icon>
          {{ ledstatus3 ? 'Encendido' : 'Apagado' }}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size-sm="12" size-md="6" size-lg="4">
        <ion-button (click)="toggleState4()" [color]="ledstatus4 ? 'secondary' : 'primary'" expand="full" shape="round">
          <ion-icon name="{{ ledstatus4 ? 'power-outline' : 'power' }}" slot="start"></ion-icon>
          {{ ledstatus4 ? 'Apagado' : 'Encendido' }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
